/**
* Background Color pallette
**/
$color-bg-white: #FFFFFF;
$color-bg-black: #000000;
$color-bg-blue: #00BCE4;
$color-bg-brown: #b9773a;
$color-bg-green: #9fca54;
$color-bg-yellow: #f2dd10;
$color-bg-yellow-light: #f2db0a;
$color-bg-orange: #ec6f30;
$color-bg-magenta: #f94055;
$color-bg-red: #c10004;
$color-bg-purple: #b4a1cf;
$color-bg-beige: #d5bda5;
$color-bg-chinese-orange: #f66a46;
$color-bg-pale-pink: #e3aab3;
$color-bg-portland-orange: #f65135;
$color-bg-orange-yellow: #ffcd64;
$color-bg-violet-blue: #3845ad;
$color-bg-denim-blue: #1c5cc7;
$color-bg-dark-orchid: #ac21ba;
$color-bg-dollar-bill-green: #85c763;
$color-bg-deep-lemon: #f2c41c;
$color-bg-amethyst: #8c5cc9;
$color-bg-picton-blue: #39bae4;
$color-bg-vivid-tangelo: #ed7124;
$color-bg-byzantium: #792e66;
$color-bg-ufo-green: #48c155;
:root {
    /**
    * Text/Elements Color pallette
    **/
    --white-pure: #ffffff;
    --white-smoke: #e7e5dd;
    --white-80pc: #efefef;    
    --white-transparent: hsla(0, 0%, 94%, 0.95);
    --grey: #b0b0b0;
    --grey-transparent: hsla(0,0%,69%,0);
    --grey-transparent-50pc: hsla(0, 0%, 30%, 0.6);
    --black-pure: #000000;
    --black-80pc: #231f20;
    --black-90pc: #101010;
    --black-light: #231F20;
    --black-transparent: transparent;
    --black-transparent-20pc: hsla(0,0%,0%,0.2);
    --blue: #00BCE4;
    --yellow: #f2dd10;
    --yellow-light: #f2db0a;
    --orange-yellow-light: #ffcd64;
    --scrollbar-track: #fffce1;
	--scrollbar-thumb: rgb(99, 204, 228);
	--scrollbar-thumb-hover: #00BCE4;
	--scrollbar-width: 10px;
    --color-just-black: #0e100f;
    --color-surface-white: #fffce1;
    --color-green: #9fca54;
    --color-lt-green: #abff84;
    --color-red: #c10004;
    --color-orange: #ec6f30;
    --color-orange-chinese: #f66a46;
    --color-orange-portland: #f65135;
    --color-purple: #b4a1cf;
    --color-purple-dark: #5A1083;
    --color-magenta-dark: #AF0931;
    --color-orange-dark: #E8741F;
    --color-denim-blue: #1c5cc7;
    --color-violet-blue: #3845ad;
    --color-ateneo-blue: #0a3571;
    --color-gray: #7f7f7f;
    --color-dark-orchid: #ac21ba;
    --color-dark-liver: #515151;
    --color-dollar-bill-green: #85c763;
    --color-social-facebook: #3b5998;
    --color-social-instagram: #c32aa3;
    --color-social-whatsapp: #4dc247;
    --color-social-linkedin: #0a66c2;
    --color-social-twitter: #1da1f2;
    /**
    * Animation Easing Functions
    **/
    --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
    --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
    --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
    --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
    --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
    --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
    --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
    --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
    --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
    --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
    --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
    --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
    --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
    --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
    --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
    --ease-in-out-expo: cubic-bezier(1,0,0,1);
    --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);
}